body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
}

main {
    display: flex;
    justify-content: space-around;
    align-items: stretch; /* Adjust height to occupy the whole page */
    height: 100vh; /* Set height to full viewport height */
    padding: 20px;
}

section {
    flex: 1; /* Equal width for both sections */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    border-radius: 10px;
    text-align: center;
}

section a {
    text-decoration: none;
    color: #333;
}

section:hover {
    background-color: #ddd;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

